<h1 class="mx-auto">Log workout activity</h1>
<div class="container">
    <form [formGroup]="workoutLogForm">
      <h3 for="date">Date</h3>
      <input class="form-control" type="date" formControlName="date"/>
      <div class="mt-5"></div>
      <app-exercise-list
        [workoutForm]="workoutLogForm" 
        [exercises]="workoutLog.exercises">        
      </app-exercise-list>
      <button class="btn btn-primary" type="submit" [disabled]="!workoutLogForm.valid" (click)="onSubmit()">
        Save workout log
      </button>
    </form>
</div>